@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./font.css";

:root {
  --white: #ffffff;
  --black: #101720;
  --synbio-green: #20544a;
  --natural-green: #4f8b69;
  --light-green: #cae9e2;
  --lighter-green: #e0f0ec;
  --dark-blue: #344d6b;
  --gray-blue: #667e9e;
  --text-selection: #cae9e2;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--black);
  background: var(--white);
  font-family: 'Gordita';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  transition: all 0.3s ease-in-out;
}

*::selection {
  background-color: var(--text-selection);
  color: var(--synbio-green);
}

.page {
  padding: 0 160px;
}

@media only screen and (max-width: 1029px) {
  .page {
    padding: 0 40px;
  }
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.1rem;
  color: var(--synbio-green);
}

h3 {
  font-size: 1.3rem;
  font-weight: 500;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--synbio-green);
}

h6 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--light-green);
}

b {
  color: var(--synbio-green);
  font-size: 1.25rem;
}

button {
  padding: 0.2rem 0.8rem;
  background-color: var(--synbio-green);
  color: var(--light-green);
  border-radius: 10px;
  font-weight: 400;
}

  button.white {
    background-color: var(--light-green);
    color: var(--synbio-green);
  }

  button:hover {
    background-color: var(--natural-green);
    color: var(--light-green);
    font-weight: 500;
    scale: 110%;
  }

button.login {
  padding: 0.2rem 0.8rem;
  border: 1px solid var(--synbio-green);
  background-color: var(--white);
  color: var(--synbio-green);
  border-radius: 10px;
  font-weight: 500;
}

  button.login:hover {
    background-color: var(--light-green);
    font-weight: 500;
    scale: 100%;
  }

header {
  color: var(--synbio-green);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: white; 
  border-bottom: 1px solid var(--light-green); 
}

.navbar-item {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1em;
  border-bottom: 2px solid transparent;
}

  .navbar-item:has(> .dropdown-menu)::after {
    content: "";
    width: 5px;
    aspect-ratio: 1/1;
    display: inline-block;
    margin-left: 10px;
    border-right: 1px solid var(--synbio-green);
    border-bottom: 1px solid var(--synbio-green);
    transform: rotate(45deg);
  }

  .navbar-item:hover {
    background-color: var(--light-green);
    cursor: pointer;
  }

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 105%;
  left: 0;
  background-color: var(--lighter-green);
  width: 180px;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
}

  .dropdown:hover .dropdown-menu {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
  }

  .dropdown-menu li {
    padding: 10px 20px;
  }
  
    .dropdown-menu li:hover {
      cursor: pointer;
      background-color: var(--light-green);
    }

.banner {
  width: 100%;
  height: calc(100dvh / 4);
  background-color: #20544a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  padding: 0 24px;
}

.box {
  border: 1px solid var(--synbio-green);
  border-radius: 10px;
  padding: 10px 15px;
}

.icon {
  width: 60px;
  height: 60px;
  padding: 8px;
  background-color: white;
  border-radius: 100%;
}

.side-menu-item {
  display: flex;
  flex: 1 1 0%;
  font-size: large;
  font-weight: 500;
  color: var(--synbio-green);
  height: 40px;
  align-items: center;
  gap: 8px;
  padding: 8px;
  min-width: 240px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

  .side-menu-item:hover {
    border-top: 1px solid var(--synbio-green);
    border-bottom: 1px solid var(--synbio-green);
    background-color: var(--lighter-green);
  }

/* book mentors menu */
.card {
  width: 240px;
  height: 100%;
  padding: 16px;
  text-align: center;
  border: 1px solid var(--lighter-green);
  border-radius: 5px;
  
}

  .card:hover {
    border: 1px solid var(--synbio-green);
    box-shadow: 5px 5px 10px var(--light-green);
  }