@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./font.css";

:root {
  --white: #ffffff;
  --black: #1a1a1a;
  --synbio-green: #20544a;
  --natural-green: #4f8b69;
  --light-green: #a3dacd;
  --dark-blue: #344d6b;
  --gray-blue: #667e9e;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Gordita';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

div::selection,
h1::selection,
button::selection,
p::selection,
span::selection,
a::selection,
h2::selection {
  background-color: #d7e6e3;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h6 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--light-green);
}

button {
  padding: 0.5rem 1rem;
  border: black 1px solid;
  border-radius: 10px;
  margin: 10px;
}

header {
  color: var(--synbio-green);
}

.dropdown {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1em;
  transition: all 0.3s ease;
}

.dropdown:hover {
  background-color: var(--light-green);
  cursor: pointer;
}

.banner {
  width: 100%;
  height: calc(100dvh / 4);
  background-color: #20544a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  border: var(--button-primary) 1px solid;
  border-radius: 10px;
  padding: 10px;
}