@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./font.css";

:root {
  --white: #ffffff;
  --black: #101720;
  --synbio-green: #20544a;
  --natural-green: #4f8b69;
  --light-green: #cae9e2;
  --lighter-green: #e0f0ec;
  --dark-blue: #344d6b;
  --gray-blue: #667e9e;
  --text-selection: #cae9e2;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;n
    --foreground: #ededed;
  }
} */

body {
  color: var(--black);
  background: var(--white);
  font-family: 'Gordita';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  transition: all 0.3s ease-in-out;
}

*::selection {
  background-color: var(--text-selection);
  color: var(--synbio-green);
}

.page {
  padding: 20px 40px;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--synbio-green);
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.1rem;
  color: var(--synbio-green);
}

h3 {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--synbio-green);
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--synbio-green);
}

h6 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--light-green);
}

b.green {
  color: var(--synbio-green);
}

button {
  padding: 0.2rem 0.8rem;
  background-color: var(--synbio-green);
  color: var(--light-green);
  border-radius: 10px;
  font-weight: 400;
}

  button.filter {
    padding: 0.15rem 0.8rem;
    border-radius: 10px;
    font-weight: 400;
    border-radius: 50px;
  }

  button.transparent {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    /* font-size: large; */
  }

  button.transparent:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

button.button-white {
  padding: 0.2rem 0.8rem;
  border: 1px solid var(--synbio-green);
  background-color: var(--white);
  color: var(--synbio-green);
  border-radius: 10px;
  font-weight: 500;
}

  button.button-white:hover {
    background-color: var(--lighter-green);
    font-weight: 500;
    scale: 100%;
  }

button.button-lgreen {
  padding: 0.2rem 0.8rem;
  border: 1px solid var(--synbio-green);
  background-color: var(--light-green);
  color: var(--synbio-green);
  border-radius: 10px;
  font-weight: 500;
}

  button.button-lgreen:hover {
    background-color: #BDDCD5;
    font-weight: 500;
    scale: 100%;
  }

header {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: var(--synbio-green);
}

.navbar-item {
  background-color: var(--synbio-green);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1em;
}

  .navbar-item:hover {
    background-color: #073B31;
  }

  .navbar-item:has(> .dropdown-menu)::after {
    content: '';
    width: 5px;
    aspect-ratio: 1/1;
    display: inline-block;
    margin-left: 10px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    transform: rotate(45deg);
  }

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--light-green);
  color: var(--synbio-green);
  width: 180px;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
}

  .dropdown:hover .dropdown-menu {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
  }

  .dropdown-menu li {
    position: relative;
    padding: 8px 15px;
  }

  .dropdown-menu li:hover {
    background-color: #BDDCD5;
  }

  .dropdown-menu li::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .dropdown-menu li:hover::after {
    background-color: var(--synbio-green);
  }

.box {
  border: 1px solid var(--synbio-green);
  border-radius: 10px;
  padding: 10px 15px;
}

.side-menu-item {
  display: flex;
  flex: 1 1 0%;
  font-size: large;
  font-weight: 500;
  color: var(--synbio-green);
  height: 40px;
  align-items: center;
  gap: 8px;
  padding: 8px;
  min-width: 240px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

  .side-menu-item:hover {
    border-top: 1px solid var(--synbio-green);
    border-bottom: 1px solid var(--synbio-green);
    background-color: var(--lighter-green);
  }

/* Make Session menu */
.card {
  width: 240px;
  height: 100%;
  padding: 16px;
  text-align: center;
  border: 1px solid var(--lighter-green);
  border-radius: 5px;
  
}

  .card:hover {
    border: 1px solid var(--synbio-green);
    box-shadow: 5px 5px 10px var(--light-green);
  }

label {
  color: var(--synbio-green);
  font-weight: 500;
}

.profile-column {
  border: 1px solid var(--synbio-green);
  border-radius: 10px;
}